// header

.header {
    background-color: #181818;
    padding: 20px 0px 20px;
    // header__box

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
    }

    // .header__inner

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__nav

    &__nav {
    }

    // .header__nav-link

    &__nav-link {
        margin-right: 32px;
        font-size: 13px;
        line-height: 154%;
        color: #ffffff;
        position: relative;
        transition: 0.4s ease-out;
        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #fff;
            content: "";
            transition: 0.4s ease-out;
        }
        &:hover {
            color: #fff;
            transition: 0.4s ease-out;
        }
        &:hover:after,
        &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    }

    // .header__button

    &__button {
        cursor: pointer;
        padding: 8px 20px 12px;
        border: 1px solid #fff;
        background-color: #ffffff;
        border-radius: 14px;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.4px;
        color: #000000;
        transition: 0.5s;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
}

// intro

.intro {
    background-image: url(../img/intro-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 41px;
    // .intro__textbox

    &__textbox {
        padding-top: 441px;
        color: #fff;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    // .intro__subtitle

    &__subtitle {
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #c0c0c0;
        margin-bottom: 1px;
        text-align: center;
    }

    // .intro__title

    &__title {
        font-size: 54px;
        line-height: 110%;
        margin-bottom: 18px;
        text-align: center;
    }

    // .intro__text

    &__text {
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: #c0c0c0;
        margin-bottom: 14px;
    }

    // .intro__info

    &__info {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    // .intro__info-item

    &__info-item {
        margin-left: 17px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
        transition: .5s;
        &:hover{
            color: #fe9703;
        }
        span {
            margin-right: 6px;
        }
    }
}
