@media (max-width:1300px){
    .intro__info{
        margin-right: 10px;
    }
    .intro__info {
       //display: none;
    }
    .gear__box{
        background-image: none;
        margin-right: 0px;
    }
    .gear-info {
        display: none;
    }
    .gear__textbox {
        max-width: 600px;
        width: 100%;
        color: #fff;
        padding: 113px 60px;
    }
    .gear__inner{
        display: block;
    }
}
@media (max-width: 1075px){
    .about__listitem{
        width: calc(75% - 16px);
    }
    .about__list{
        justify-content: center;
    }
}
@media (max-width:770px){
    .header__nav{
        display: none;
    }
    .intro__textbox{
        padding-top: 175px;
    }
    .about__listitem{
        width: calc(90% - 16px);
    }
    .clients__inner {
        flex-direction: column;
        justify-content: center;
        img{
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 660px){
    .footer__start {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer__start-links{
        flex-direction: column;
        justify-content: center;
    }
    .footer__start-box{
        margin-bottom: 20px;
    }
    .footer__linklist{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer__midle {
        justify-content: center;
        flex-direction: column;
    }
    .footer__form-input input {
        max-width: 320px;
        width: 100%;
    }
    .footer__midle-box{
        margin-bottom: 20px;
    }
    .footer__end{
        flex-direction: column;
        justify-content: center;
    }
    .footer__end-text{
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 605px){
    .about__listitem{
        width: calc(100% - 16px);
    }
    .about__listitem-title {
        font-size: 8px;
    }
    .about__listitem-text {
        font-size: 10px;
    }
    .about__listitem-textbox{
        max-width: 270px;
        width: 100%;
    }
}
@media (max-width: 500px){
    .intro__textbox{
        padding-top: 75px;
    }
    .intro__subtitle {
        font-size: 8px;
    }
    .intro__title {
        font-size: 28px;
    }
    .intro__text {
        font-size: 8px;
    }
    .photo__text-box {
        right: 3px;
    }
    .gear__title {
        font-size: 18px;
    }
    .gear__subtitle {
        font-size: 8px;
    }
    .gear__text {
        font-size: 8px;
    }
}
@media (max-width:400px){
    .header__box{
        flex-direction: column;
    }
    .header__logo{
        margin-bottom: 15px;
    }
}
@media (max-width: 340px){
    .intro__info-item {
        font-size: 10px;
    }
}